.card {
    box-shadow: 3px 4px 9px #888888;
    /* width: 350px; */
    height: 380px;
    overflow: auto;
}

.card-text {
    margin-top: 8px;
}

.card-img {
    opacity: 0.11;
    margin-top: 40px;
    max-width: 80%;
    height: auto;
}

.card-title {
    margin-top: 10px;
}

li {
	list-style-type: none;
    padding: 2px 0px;
}

#book-btn {
    color: #fff;
    text-decoration: none;
}

.alert {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    line-height: normal;
}


@media (min-width: 575.98px) {

    /* total width */
    * ::-webkit-scrollbar {
        width: 6px;
        scrollbar-color: trasparent;
    }
    /* scrollbar itself */
    * ::-webkit-scrollbar-thumb {
        background-color: #c5c5c7;
        border-radius: 16px;
        border: 1px solid rgba(218, 213, 213, 0.952);
    }
    * ::-webkit-scrollbar-thumb:hover {
        background-color: #a0a0a5;
        border: 1px solid #f4f4f4;
    }
}